<!DOCTYPE html>
<html>
<head>
	<title>实时监控</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/style/weui.css"/>
	<!-- <script type="text/javascript" src='index.js'></script> -->
	<!-- 引入 echarts.js -->
    <script src="/static/style/echarts.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src='/static/index.js'></script>
    <script type="text/javascript" src='/static/config.js'></script>
</head>
<body ontouchstart>

	<div class="page">
		<div class="page__hd">
	        <h1 class="page__title">实时监控</h1>
	    </div>

	    <div class="weui-cells__title">开关</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">灯1号</div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox" onclick="lamp1_change(this)" id='lamp1'/>
                </div>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">灯2号</div>
                <div class="weui-cell__ft">
                    <input class="weui-switch" type="checkbox" onclick="lamp2_change(this)" id='lamp2'/>
                </div>
            </div>
        </div>

	</div>


	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>


    <script type="text/javascript">
    	// lamp_state();
    	init_echart();
    	//ai_lamp();
    	window.setInterval(ai_lamp, FRESH_LAMP_TIME);
    	window.setInterval(lamp_state, FRESH_AI_INFO_TIME);
    </script>

</body>
</html>